*{
  font-family: Tahoma;
}

.titulo{
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #FF9900;
}

form{
  width: 310px;
  margin: 15px auto;
}

table{
  width: 230px;
  margin: 0 auto;
}

th{
  text-align: center;
  padding: 8px 0;
}

td{
  text-align: right;
}

#enviar{
  text-align: center;
  padding: 6px 0;
}
