.panel{
  height: 220px;
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

th{
  font-size: 18px;
  color: #FF9900;
}

td{
  text-align: center;
  font-size: 16px;
}

#marcoTabla{
  height: 206px;
}

#botones{
  position: relative;
  top: 20px;
  left: -10px;
}
