html{
    height:100% ;
    width:100%  ;
    background-color: rgb(180, 154, 120); 
}
body { 
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px; 
    color: rgb(88, 63, 24);
    padding:0; 
} 
  
a {color: rgb(0, 0, 0); text-decoration: none;} 
  
a:hover {background:rgb(190, 170, 137);} 
  
h1, h2 {margin-bottom: 15px} 
  
h1 {font-size: 20px;} 
h2 {font-size: 16px} 
td{
    background-color: rgb(229, 228, 226); 
}
#container { 
    width: 100%; 
    height: 100%; 
    background-color: rgb(180, 154, 120); 
    padding:15px; 
    overflow: hidden; 
} 
  
    #main { 
        width: 100%; 
    } 
      
        #main table { 
            width: 100%; 
        } 
          
            #main table th { 
                padding: 10px; 
                background-color: rgb(110, 55, 29); 
                color: #fff; 
                text-align: left; 
            } 
              
            #main table td { 
                padding: 5px; 
            } 
              
            #main table tr { 
                background-color: #d3dcf2; 
            } 